<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
    <title>Follow up</title>
    
    

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i"
    rel="stylesheet">


    <!-- Favicons -->
    <link rel="icon" href="../app/img/logo_n.png" sizes="32x32" type="image/png">    

    
    <!-- Custom styles for this template -->
    <link href="./css/followUp.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet" media="all">  
  </head>
  <body>
    
  
  <header class="mb-auto">
    <div class="container">
      <a class="navbar-brand" href="#" style="text-decoration-color: white;">

        <img src="../app/img/logo.png" style="width: 56px; height: 56px" alt="Website Logo">

        <span class="text-light">SCRUM CITY</span>

      </a>

      <nav class="nav nav-masthead justify-content-center float-end">

        <a class="nav-link active" aria-current="page" href="#">Home</a>        

      </nav>
    </div>
  </header>
  
  <div class="wrap">
  <main class="px-3 container">
    <div class="row topcard">
      <h2>Public Works Requests</h2>
       <hr>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-header">
            Create Request
          </div>
          <div class="card-body">
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <button class="btn btn-primary buttonRequest">Create Request</button>

          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-header">
            Retrieve Request
          </div>
          <div class="card-body"> 
            <form>
              <div class="mb-3">
                <label for="numberRequest" class="form-label">Number Request</label>
                <input type="text" class="form-control" id="numberRequest" placeholder="PWR-0000" required>
              </div>
              <div class="mb-3">
               <label for="emailRequest" class="form-label">Email address</label>
               <input type="email" class="form-control" id="emailRequest" placeholder="name@example.com" required>
              </div>
              <button type="submit" class="btn btn-primary buttonRequest">Retrieve Request</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-3 alert alert-primary" role="alert" style="display:<%=ticket?"block":"none"%>">
      A simple primary alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
    </div>
    <br>
    <div class="mt-3 alert alert-danger" role="alert" style="display:<%=error?"block":"none"%>">
      A simple danger alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
    </div>

    <div class="row retriveRequest">
      <div class="col-sm-12 my-4">
        <div class="card">
          <div class="card-header">
             Request #<%=ticket?ticket.number:""%>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-5">
                <div>
                  <span class="card-title">Last update</span>
                  <p class="card-text"><%=ticket?ticket.updatedAt:""%></p>
                </div>
                <div>
                  <span class="card-title">Status</span>
                  <p class="card-text"><%=ticket?ticket.status:""%></p>
                </div>
              </div>
              <div class="col-sm-7">
                <span class="card-title">Details</span>
                <p class="card-text"><%=ticket?ticket.details:""%></p>
              </div>
              
            
          </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row formRequest">
      <div class="col-sm-12 my-4">
        <div class="card card-6">
                <div class="card-heading">
                    <h2 class="title">Service Request</h2>
                </div>
                <div class="card-body">
                    <form action="./request" method="post" id="repairForm">
                        <div class="form-row">
                            <div class="name">Requestor Name</div>
                            <div class="value">
                                <input class="input--style-6" type="text" name="requestor">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Email address</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-6" type="email" name="email"
                                        placeholder="example@email.com">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Phone Number</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-6" type="text" name="phone" placeholder="555-555-5555">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Description</div>
                            <div class="value">
                                <div class="input-group">
                                    <textarea class="textarea--style-6" name="details"
                                        placeholder="Description of damage"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Attachments</div>
                            <div class="value">
                                <div class="input-group js-input-file">
                                    <input class="input-file" type="file" name="file_cv" id="file">
                                    <label class="label--file" for="file">Choose file</label>
                                    <span class="input-file__info">No file chosen</span>
                                </div>
                                <div class="label--desc">Upload any files you have that can provide further details
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Address</div>
                            <div class="value">
                                <div class="input-group">
                                    <textarea class="textarea--style-6" name="address"
                                        placeholder="Address or description of location"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn--radius-2 btn--blue-2" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
      </div>
  </main>



  <footer class="text-center text-white-50">
    <div class="container">
      <p>PWR Scrum City . 2021 </p>
    </div>  
  </footer>
</div>

    
  </body>
</html>